<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../main.css" rel="stylesheet">
  <link href="../card.css" rel="stylesheet">
  <link href="../loading.css" rel="stylesheet">
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c75543be0f25c55db7a17e8ae64d96ad"></script>
  <title>방문</title>
</head>

<body>
  <div id="mainDiv">
    <h2 class="title">나의 방문 기록</h2>
    <section class="place-list">
      <% for (var i = 0; i < userPlaceData.length; i++) {%>
        <div class="card">
          <header>
            <h3><%= userPlaceData[i].date %></h3>
            <h2><%= userPlaceData[i].title %></h2>
          </header>
          <main>
            <h3><%= userPlaceData[i].content %></h3>
          </main>
        </div>
      <% } %>
    </section>
    <div style="height: 20px"></div>
    <h2 class="title">주변 방문 기록</h2>
    <div style="height: 20px"></div>
    <div id="map"></div>
    <div class="spinner"></div>
  </div>
  <div id="sideDiv">
    <button class="custom-btn btn-13" onclick=goToWritePage()>기록하러 가기</button>
  </div>
</body>

<script>
  const parsedUserPlaceDatas = JSON.parse('<%- JSON.stringify(userPlaceData) %>'); 
  const userPlaceData = parsedUserPlaceDatas['data'];
  console.log(userPlaceData);

  var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
  showSpinner();

  // 위치 조회
  navigator.geolocation.getCurrentPosition((position) => {
    
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;

    console.log("latitude : " + latitude);
    console.log("longitude : " + longitude);

    var options = { //지도를 생성할 때 필요한 기본 옵션
      center: new kakao.maps.LatLng(latitude, longitude),
      level: 3 //지도의 레벨(확대, 축소 정도)
    };
    var map = new kakao.maps.Map(container, options);
    
    for (var i = 0; i < userPlaceData.length; i++) {
      // 마커 위치
      var markerPosition = new kakao.maps.LatLng(userPlaceData[i]['latitude'], userPlaceData[i]['longitude']);
      // 마커 생성
      var marker = new kakao.maps.Marker({
        position: markerPosition
      });
      // 마커 표시
      marker.setMap(map);
    }

    // 마커가 표시될 위치입니다 
    // markerPosition  = new kakao.maps.LatLng(latitude, longitude);
    
    // 마커를 생성합니다
    // var marker = new kakao.maps.Marker({
    //     position: markerPosition[2]
    // });

    // 마커가 지도 위에 표시되도록 설정합니다
    // marker.setMap(map);

    hideSpinner();
  });

  // 로딩바 보이기
  function showSpinner() {
    document.getElementsByClassName('spinner')[0].style.display='block';
  }

  // 로딩바 숨기기
  function hideSpinner() {
    document.getElementsByClassName('spinner')[0].style.display='none';
  }
</script>


<script>
  function goToWritePage() {
    // closeLeftMenu();
    location.href='/view/write';
  }
</script>
</html>