<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="sidenav.css" rel="stylesheet">
  <link href="title.css" rel="stylesheet">
  <link href="card.css" rel="stylesheet">
  <link href="loading.css" rel="stylesheet">
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c75543be0f25c55db7a17e8ae64d96ad"></script>
  
  <title>main</title>
</head>

<body>

  <div class="VirtualView">
    <div class="hideMenuBody" id="hideMenuBodyId">
      <div>Menu 1</div>
      <div>Menu 2</div>
      <div>Menu 3</div>
      <div>Menu 4</div>
      <div>Menu 5</div>
      <div onclick="closeLeftMenu(); return false;">Close</div>
    </div>
  
    <div class="circleBt" id="circleBt" onclick="showLeftMenu(this); return false;">
      <div style="margin-top: 13px;"></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <h2 class="title">나의 방문 기록</h2>

  <section class="card-list">
    <div class="card">
      <header>
        <h3>2022/02/26</h3>
        <h2>image</h2>
      </header>
      <main>
        <h3>text</h3>
      </main>
    </div>
    <div class="card">
      <header>
        <h3>2022/02/26</h3>
        <h2>image</h2>
      </header>
      <main>
        <h3>text</h3>
      </main>
    </div>
    <div class="card">
      <header>
        <h3>2022/02/26</h3>
        <h2>image</h2>
      </header>
      <main>
        <h3>text</h3>
      </main>
    </div>
    <div class="card">
      <header>
        <h3>2022/02/26</h3>
        <h2>image</h2>
      </header>
      <main>
        <h3>text</h3>
      </main>
    </div>
    <div class="card">
      <header>
        <h3>2022/02/26</h3>
        <h2>image</h2>
      </header>
      <main>
        <h3>text</h3>
      </main>
    </div>
    <div class="card">
      <header>
        <h3>2022/02/26</h3>
        <h2>image</h2>
      </header>
      <main>
        <h3>text</h3>
      </main>
    </div>
    <div class="card">
      <header>
        <h3>2022/02/26</h3>
        <h2>image</h2>
      </header>
      <main>
        <h3>text</h3>
      </main>
    </div>
  </section>

  <div style="height: 20px"></div>
  <h2 class="title">주변 방문 기록</h2>
  <div style="height: 20px"></div>

  <div id="map" style="height: 800px;"></div>
  <div class="spinner"></div>

</body>


<script>
  var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
  showSpinner();

  // 위치 조회
  navigator.geolocation.getCurrentPosition((position) => {

    console.log("latitude : " + position.coords.latitude);
    console.log("longitude : " + position.coords.longitude);

    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;

    var options = { //지도를 생성할 때 필요한 기본 옵션
      center: new kakao.maps.LatLng(latitude, longitude),
      level: 3 //지도의 레벨(확대, 축소 정도)
    };
    var map = new kakao.maps.Map(container, options);

    // 마커가 표시될 위치입니다 
    var markerPosition  = new kakao.maps.LatLng(latitude, longitude);
    
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);

    hideSpinner();
  });

  // 로딩바 보이기
  function showSpinner() {
    document.getElementsByClassName('spinner')[0].style.display='block';
  }

  // 로딩바 숨기기
  function hideSpinner() {
    document.getElementsByClassName('spinner')[0].style.display='none';
  }
</script>


<script>

 
	function showLeftMenu(){
		var circleBtObj = document.getElementById('circleBt');
		var leftMenuObj = document.getElementById('hideMenuBodyId');
		circleBtObj.style['display'] = "none";
		leftMenuObj.style['transform'] = "translate(0px, 0px)";
		
		leftMenuObj.style['msTransform'] = "translate(0px, 0px)";
		leftMenuObj.style['mozTransform'] = "translate(0px, 0px)";
		leftMenuObj.style['webkitTransform'] = "translate(0px, 0px)";
		leftMenuObj.style['oTransform'] = "translate(0px, 0px)";
	}

	function closeLeftMenu() {
		var circleBtObj = document.getElementById('circleBt');
		var leftMenuObj = document.getElementById('hideMenuBodyId');

		circleBtObj.style['display'] = "block";
		leftMenuObj.removeAttribute("style");
	}
  
  // var newDIV = document.createElement("div");
  // newDIV.innerHTML = "<%= text2 %>";

  // var p = document.getElementById("p");
  // p.appendChild(newDIV);
</script>
</html>