<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../write.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c75543be0f25c55db7a17e8ae64d96ad"></script>
  
  <title>방문</title>
</head>

<body>  
  <div class="areaDiv">
    <h2>타이틀</h2>
    <input type="text", id="title">
  </div>
  <div class="areaDiv">
    <h2>방문장소</h2>
    <a href="#" class="btn-two green rounded" onclick="showPopup();">장소 찾기</a>
    <input type="text" id="latitude" style="display: none"/>
    <input type="text" id="longitude" style="display: none"/>
    <div id="address"></div>
  </div>
  <div class="areaDiv">
    <h2>방문일</h2>
    <input type="date", id="date">
  </div>
  <div class="areaDiv">
    <h2>내용</h2>
    <textarea id="content" cols="30" rows="5" maxlength="30" placeholder="30자 이내로 작성해주세요." onkeyup="count(this)"></textarea>
    <span id="counter">0 / 30</span>
  </div>
  <br/>
  <button id="finishBtn" onclick=post()>작성완료</button>

</body>

<script>
  function count(text) {
    var countText = text.value.length; // 글자 수
    document.getElementById('counter').innerHTML = countText + " / 30";
  }

</script>

<script>
  function post() {
    var title = document.getElementById("title");
    var date = document.getElementById("date");
    var content = document.getElementById("content");
    var address = document.getElementById("address");
    var latitude = document.getElementById("latitude");
    var longitude = document.getElementById("longitude");

    const titleValue = title.value;
    const dataValue = date.value;
    const contentValue = content.value;
    const addressValue = address.innerHTML;
    const latitudeValue = latitude.value;
    const longitudeValue = longitude.value;

    // json 으로 보내기
    data = {
      "title": titleValue,
      "date": dataValue,
      "content": contentValue,
      "address": addressValue,
      "latitude": latitudeValue,
      "longitude": longitudeValue
    };

    console.log(JSON.stringify(data, null, 2));

    // var req = new XMLHttpRequest(); // XMLHttpRequest 객체 생성

    // // 초기화 (방식, url, 비동기여부)
    // req.open("POST", "http://localhost:3000/place", true);

    // //요청 해더
    // req.setRequestHeader('Content-Type', 'application/json');

    // req.onreadystatechange = function () {
    //   if (req.readyState === XMLHttpRequest.DONE) {
    //     if (req.status === 200 || 201) { // 응답코드가 200 또는 201(post)
    //       console.log("성공");
    //     } else {
    //       console.log("실패");
    //     }
    //   }
    // }

    // // 요청
    // req.send(data);

    $.ajax({
      url : "/place",
      type : "post",
      headers: 'Content-Type',
      datatype : "json", // json
      data: data, // body 값
      success : function(data) {
        // 입력값 초기화
        title.value = null;
        date.value = null;
        content.value = null;
        address.innerHTML = null;
        alert("등록 완료!");
        location.href = "/view/main";
      },
      error : function(req, status, error) {
        console.log(req.responseJSON['message'])
        alert("등록 실패");			
      }
    });
  }
</script>

<script>
  function showPopup() { 
    const popupWidth = 800; 
    const popupHeight = 800;
    const popupX = (window.screen.width / 2) - (popupWidth / 2); // 가운데 정렬
    const popupY= (window.screen.height / 2) - (popupHeight / 2);
    window.open("./search", "장소 검색", `width=800px, height=800px, left=${popupX}, right=${popupY}`); 
  }
</script>


</html>